.yellow-bg {
  background-color: yellow;
  width: 500px;
  border-bottom: 1px solid orange;
}

.gray-bg {
  background-color: gray;
  color: gray;
  width: 500px;
  border-bottom: 1px solid lightgray;
}

.color {
  color: orange;
  display: inline-block;
}

.color-orange {
  color: orange;
  display: inline-block;
  font-size: 13px;
  text-align: left;
}

.color-gray {
  color: lightgray;
  display: inline-block;
  font-size: 13px;
  margin: 0 10px;
}

.line {
  display: inline;
  border-width: 30;
  border-top: 1px solid lightgray;
}

.mod {
  font-size: 8px;
  font-weight: 2px;
  color: lightgray;
  display: inline-block;
  margin-left: 7px;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.mail {
  width: 1000px;
  height: 800px;
  border: 1px solid #000;
  /* 백그라운드 이미지 불러옴 */
  background-image: url("./gag.jpg");
  /* 이미지를 한 번만 받아와라 */
  background-repeat: no-repeat;
  /* w / h */
  background-size: 786px 780px;
  /* 백그라운드가 위치하는 위치값 */
  background-position: 0 0;
}