.yellow-bg {
  background-color: yellow;
  color: yellow;
  width: 500px;
<<<<<<< HEAD
  border-bottom: 1px solid orange;
  
}

.gray-bg {
  background-color: #eec5c560;
  color: #eec5c560;
  width: 500px;
  border-bottom: 1px solid lightgray;
=======
}

.gray-bg {
  background-color: gray;
  color: gray;
  width: 500px;
>>>>>>> 28eacbaf3569b3be14678ae4301de0d8dd76040e
}

.color {
  color: orange;
  display: inline-block;
}

.color-orange {
  color: orange;
  display: inline-block;
  font-size: 13px;
<<<<<<< HEAD
  text-align: left;
=======
>>>>>>> 28eacbaf3569b3be14678ae4301de0d8dd76040e
}

.color-gray {
  color: lightgray;
  display: inline-block;
  font-size: 13px;
  margin: 0 10px;
}

.line {
<<<<<<< HEAD
  display: inline;
  border-width: 30;
  border-top: 1px solid lightgray;
}

.mod{
  font-size: 8px;
  font-weight: 2px;
  color: lightgray;
  display: inline-block;
  margin-left: 7px;
}

.wrapper{
  width: 500px;
  margin: 0 auto;
}
=======
  border-width: 500;
  border: 0px;
  border-top: 1px solid lightgray;
}
>>>>>>> 28eacbaf3569b3be14678ae4301de0d8dd76040e
