 {}

h1 {
  font-size: 80px;
  /* margin: 20px 0px 26px 0px; */
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
}

.summary {
  /* 기울기 */
  font-style: italic;
  text-align: center;

}

.thin {
  font-size: 14px;
  font-weight: 300;
  text-align: center;

}

.line {
  height: 2px;
  /* background-color: #333; */
  margin: 16px 0;
  /* 그라데이션 넣기 */
  background: linear-gradient(0.25turn, #fff, #333, #fff);
}

h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;

}

.bolder {
  font-weight: 800;
}

.paragraph {
  /* 박스의 아래쪽에 마진을 할당 */
  /* margin: 0 0 10px 0; */
  margin-bottom: 10px;
}

.wrap-box{
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin: 0 10px;
    
}

.center-align{
    text-align: center;
}

.justify-align{
    /* 텍스트를 꽉 채우기 */
    text-align: justify;
}

.wrapper{
    width: 1000px;
    /* 위 아래는 0인데 좌우는 알아서 해라 */
    margin: 0 auto;
}