img {
  vertical-align: bottom;
}

.background {
  /* 내가 기준이야 */
  position: relative;
}

.subject {
  /* 내가 기준  relative*/
  /* absolute 너가 기준 */
  /* Offset 기준이 두가지
     1. position이 할당되지 않는 부모태그 내부에서는 View port 
     2. position이 relative로 할당된 부모 태그 내부는 부모태그가 된다
  */
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  background-color: #0005;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

/* .box {
  position: absolute;

  width: 300px;
  height: 200px;

  top: 0px;
  left: 0px;
  bottom: 0px;

  /* top: 10px;
  right: 30px;
  bottom: 50px;
  left: 60px; */ /*
  background-color: lightgray;
} */

div {
  border: 1px solid red;
  padding: 16px;
}

.absolute {
  background-color: yellow;
  position: absolute;
  /* 오프셋기준 : viewport */
  right: 0px;
  bottom: 0px;
}

.relative {
  position: relative;
  background-color: cyan;
  /* 오프셋 기준 : 스타일이 적용된 박스 */
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.sticky {
  background-color: aqua;
  position: sticky;
  top: 0px;
}
