.flex > li {
  /* 아이템 최소 크기 지정 : 메인축에 따라 가로 혹은 새로로 나뉨 */
  /* flex-basis: 50%; */
  flex-basis: 100px;
  /* basisc으로 생긴 여백을 어떻게 할것인가? */
  /* 남아 있는 여백을 n/1을 하여 여백을 나눠준다 */
  /* flex-grow: 1; */
  /* basis보다 줄어들게 두지 말아라 */
  flex-shrink: 0;
}

.flex {
  flex-wrap: nowrap;
}

.vertical {
  flex-direction: column;
  height: auto;
}
