* {
  box-sizing: border-box;
}

html {
  /* 애도 준다 */
  height: 100vh;
}

body {
  /* 폰트 적용 */
  font-family: "Gamja Flower", sans-serif;
  background-color: #484646;
  /* margin제거 위에 딱 붙어 있어야 함 */
  margin: 0;
  /* 뷰포트만큼 다 줘라  html body wrapper*/
  height: 100vh;
}

.warpper {
  width: 42.5rem;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* 애도 준다 */
  height: 100vh;
}

.header {
  /* width를 주지 않아서 나오지 않는다.
    메인축이 왼쪽에 있기 때문에 flex-basis를 준다 */
  flex-basis: 2.5rem;
  background-color: #ebbc12;
  /* 하나의 칸에다가 배치해라 */
  display: flex;
  flex-direction: row;
  /* flex 세로줄 가운데 배치 */
  align-items: center;
  padding: 0 0.625rem;
  /* 적당한 간격을 균일하게 만들어줌 */
  gap: 0.325rem;
  /* 공간이 모자라도 줄지 말아라 */
  flex-shrink: 0;
}

.header > .logo {
  /* 부모가 flex이기 때문에 width는 쓰지 않는다 */
  flex-basis: 5.125rem;
  /* height는 그냥 주면 된다 */
  height: 2.1875rem;

  background-image: url("./geg.png");
  background-repeat: no-repeat;
}

.header > .space {
  /* 남아 있는 여백을 한 번에 가져와라 */
  flex-grow: 1;
}

.header > .bookmarK {
  flex-basis: 1.875rem;
  height: 1.875rem;
}

.header > .my {
  flex-basis: 2.375rem;
  height: 1.8125rem;
  /* bg 이미지 포지션 직접 찾아야함 */
  background-image: url("./geg.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
}

.header > .write {
  flex-basis: 2.0625rem;
  height: 1.8125rem;
  /* bg 이미지 포지션 직접 찾아야함 */
  background-image: url("./geg.png");
  background-repeat: no-repeat;
  background-position: -41px -38px;
}

.warpper > .type {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  /* wrapper의 자식이다 (flex)이기 때문에 height을 주면안된다 */
  /* height: 2.5rem; */
  flex-basis: 2.5rem;
  /* 적당히 띄운 상태를 표현 */
  justify-content: space-evenly;
  /* 가운데 정렬 (더 이상 의미가 없다 .selected 참고)
  align-items: center; */
  /* 대신 line-height이라는게 있다 텍스트의 기준선을 점점 키워서 움직이게 한다*/
  line-height: 37px;
  /* 공간이 모자라도 줄지 말아라 */
  flex-shrink: 0;
}

.type > div {
  /* 잇슈 익게의 베이스가 넓어짐 */
  flex-basis: 17rem;
  text-align: center;
  /* 잇슈 익게의 세로줄이 가운데 맞춤하는게 난관이다 (padding 사용 x) */
  /* padding을 사용하고 font-size를 주는데 boderbox-sizing 때문에 불필요하게 커진다 */
  /* .wrapper > .type에 align-items 써준다 */
  font-size: 1.1rem;
}

.type > .selected {
  font-weight: 800;
  color: #ff605d;
  border-bottom: 3px solid #ff605d;
  /* type의 align-items 때문에 center를 쓰면 안된다 붙기 때문이다 */
}

.articles {
  /* 잇슈 밑에 콘텐츠 박스를 보면 왼쪽이 띄워져 있음 */
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  /* 100vh를 사용해 벌어진  공백을 먹는다 */
  flex-grow: 1;
  /* 공간이 모자라도 줄지 말아라 */
  flex-shrink: 0;
}

.articles > .article {
  flex-basis: 2.83625rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  /* 이건 왜? */
  justify-content: space-evenly;
  /* 답답해 보이기 때문에 공백을 부여 */
  /* padding을 부여하니 가운데 사이즈가 줄어든다, *{border box} 때문이다 크기를 벗어나지 않게 하기 위해서다 */
  /* 따라서 border box를 벗어나게 해주는 방법이 있다. */
  padding: 0.625rem 0px;
  /* 이렇게 article만 content-box로 지정해준다 */
  box-sizing: content-box;
}

.articles > .article > .article-title {
  display: flex;
  flex-direction: row;
  color: #333;
}

.articles > .article > .article-title > div:last-child {
  color: #ff5500;
}

.articles > .article > .article-title > div:last-child::before {
  content: "[";
  margin-left: 0.625rem;
}

.articles > .article > .article-title > div:last-child::after {
  content: "]";
}

.articles > .article > .article-author {
  display: flex;
  flex-direction: row;
  /* gap: 1.25rem; 갭 삭제 */
  font-size: 0.9rem;
  color: #aaa;
}

.articles > .article > .article-author > .article-author-name {
  color: #ff605d;
}
/* article-author 밑에 div를 찾는데 datetime이 아닌 것 name, num을 가르킨다 */
.articles
  > .article
  > .article-author
  > div:not(.article-author-datetime)::after {
  content: "|";
  color: #ccc;
  /* 이 css를 사용하기 위해서는 flex와 gap을 사용하면 안된다 */
  margin: 0 0.625rem;
}

.page-navigator {
  flex-basis: 4.375rem;
  background-color: #bbb;
  /* 앵커를 가운데로 보내기 위함 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  /* 공간이 모자라도 줄지 말아라 */
  flex-shrink: 0;
}

.page-navigator > a {
  line-height: 120%;
  padding: 0.35rem 0.625rem;
  padding: 0.625rem;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  background-color: #eee;
  color: #aaa;
  text-decoration: none;
}

.page-navigator > .now-page {
  border: 1px solid #ff3232;
  color: #ff3232;
  font-weight: 600;
}

.footer {
  flex-basis: 7.5rem;
  background-color: #333;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 공간이 모자라도 줄지 말아라 */
  flex-shrink: 0;
}

.footer > div:first-child {
  background-color: #555;
  padding: 0.625rem;
  border-radius: 0.5rem;
  color: #999;
}

.footer > div:last-child {
  color: #555;
  padding: 1.25rem 0;
}
