.flex {
  display: flex;
  /* 수평배치 */
  flex-direction: row;
  /* 넘쳐 흐르는 것들 아이템 줄바꿈 해라 */
  flex-wrap: wrap;

  /* 메인축 정렬 */
  /* justify-content: space-evenly */
  /* justify-content: center; */

  /* 교차축 정렬 */
  /* align-item: stretch */

  /* 줄넘김 정렬 */
  /* align-content: stretch */

  /* 플렉스를 쓸 때 없어져야 하는 것 */
  margin: 0;
  padding: 0;
  list-style: none;
}
