.box {
  width: 100px;
  height: 100px;

  background-color: #f14c4c;
  margin: 10px;
}

.translate {
  background-color: aquamarine;
  /* 박스 이동 translate(x, y) */
  transform: translate(100px, 100px);
}

.scale {
  background-color: beige;
  /* 박스 크기 조정 scale(x, y) */
  /* 이렇게 하면 x축 2배 y축 1배(그대로) */
  transform: scale(2, 1) translate(200px, 200px);
}

.rotate {
  background-color: bisque;
  /* 박스회전 rotate(회전각 <- deg, turn) */
  /* transform: rotate(45deg); */
  transform: rotate(0.125turn);
  /* 위 두개 다 같음 */
}

.invert {
  background-color: darkorchid;
  /* 좌우반전을 한다 글자도 뒤집힘 */
  /* transform: scale(-1, 1); */
  /* 180도 돌리기 */
  /* transform: rotate(180deg); */
}

.change-color {
  /* 3초동안 사라지고 이벤트 끝나면 3초동안 다시 나타남 */
  transition: background-color 3s;
}

.change-color:hover {
  background-color: #fff;
}

.change-scale {
  transition:
  /* transform, background에는 0.3초 천천히 변화하는데
  0.3s 딜레이를준다 */
    transform 0.3s 0.3s,
    background 0.3s;
}

.change-scale:hover {
  transform: scale(2, 2);
  background-color: blue;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: center;
  background-color: azure;
}

.change-rotate {
  /* 360도 천천히 돌기 */
  transition: transform 0.5s;
}

.change-rotate:hover {
  transform: rotate(360deg);
}

.animate-rotate {
  overflow: hidden;
}

.animate-rotate:hover {
  /* 무한으로 돌게하기 */
  /* 천천히 시작했다가 점점 빨라지는게 기본 값인데 linear를 주게 되면 빨라짐 */
  /* animation: cat-rotate 0.5s infinite linear; */
  animation: cat-rotate-and-scale 0.5s infinite linear;
}

@keyframes cat-rotate-and-scale {
  0% {
    transform: rotate(0deg) scale(1, 1) translate(0, 0);
    border-radius: 0px;
  }
  50% {
    transform: rotate(180deg) scale(2, 2) translate(50px, 50px);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(1, 1) translate(0, 0);
    border-radius: 100%;
  }
}

@keyframes cat-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-me {
  border-color: 0.5rem;
  overflow: hidden;
}

.hover-me > img {
  transition: transform 0.2s;
}

.hover-me:hover > img {
  transform: scale(1.2, 1.2) rotate(30deg);
}
